.section {
  box-sizing: border-box;
  position: relative;
  border-top: 1px solid var(--color-light-5);
  text-align: left;
  
  display: flex;
  align-items: center;
  padding: 2em 0;
  padding-top: calc(var(--height-header) + 2em);
  min-height: calc(100% - var(--height-header));
}

.section.section--no-border {
  border: 0;
  min-height: 100%;
}

@media screen and (min-width: 769px) {
  .section {
    text-align: center;
  }
}

/* .section a {
  position: relative;
  color: var(--color-blue);
}

.section a:hover {
  text-decoration: none;
  top: 1px;
  left: 1px;
} */