.timelines { text-align: left; }
.timeline-evt { padding: 1em 0; }
.plot-title { 
  font-family: var(--font-family-alternate);
  font-style: italic; 
}
.plot-date,
.plot-details {
  padding: 0;
}
.plot-details { padding-top: 0.5em; }

@media screen and (min-width: 769px) {
  .timelines { display: flex; }
  
  #timeline-work,
  #timeline-life { width: 50%; }
  
  #timeline-work { padding-right: 1%; }
  #timeline-life { padding-left: 1%; }
}