html,
body {
	height: 100%;
}

body {
	padding-top: 50px;
	width: 100%;

	position: relative;
	right: 0;

}

$menu_width : 200px;

.inner_wrap {
	height: auto;
	min-height: 100%;
	width: 90%;
	max-width: 960px;
	margin: 0 auto;

	@include breakpoint($tablet) {
		width: 80%;
	}

	@include breakpoint($desktop) {
		width: 66%;
	}
}

header {

	position: fixed;
	height: 50px;
	width: 100%;
	top: 0; left: 0;
	z-index: 8;

	.logo {
		display: inline-block;
		vertical-align: middle;
	}

	h1 {
		display: inline-block;

		a {
			display: block;
			padding: .5em;
		}
	}

}

.menu-active {

	overflow: hidden;
	right: $menu_width;

	.main_nav {
		right: 0;
	}

	header {
		left: -$menu_width;
	}

}

#toggleMenu {
	position: relative;
	right: 100px;
	top: 15px;

	@include breakpoint($desktop) {
		display: none;
	}
}

.main_nav {

	position: fixed;
	top: 0;
	right: -$menu_width;
	height: 100%;
	width: $menu_width;
	z-index: 999;

	@include box-sizing(border-box);

}

@include breakpoint($desktop) {

	.main_nav {
		
		right: 20%;
		height: 50px;
		width: 300px;
		z-index: 9;
		text-align: right;

		li {
			display: inline-block;

			a {
				display: block;
				padding: .75em;
			}
		}

	}

}

.sct {
	
	@include box-sizing(border-box);

	height: auto;
	min-height: 100%;

	padding: 2em 0;

}

.sct-vertical-align {

	height: 100%;

	.inner_wrap {
		margin-top: -100px;
		height: auto;
		min-height: 0;
		position: relative;
		top: 50%;

		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
				transform: translateY(-50%);
	}

}

.sct-exp {

	.timelines {
		@extend .cf;
	}
	
	@include breakpoint($desktop) {
		#timeline-work {
			@include grid-span(6);
		}
		#timeline-life {
			@include grid-span(6, 7);
		}
	}
/* 
	@include breakpoint($desktop) {
		#timeline-life {
			position: relative;
			margin-top: 200px;
			padding-top: 1em;
		}

		#timeline-work {
			position: relative;
			padding-top: 1em;
		}
	}

	@include breakpoint($desktop) {
			* {
			@include box-sizing(border-box);
		}

		.timelines {
			width: 100%;
			height: 500px;
			position: relative;

			padding: 1em 0;
			background: #EEE;
			border: 1px solid #FFF;
		}

		.timeline-evt {
			position: absolute;
			height: 30px;
			width: 10px;
			min-width: 10px;
			max-width: 10px;
			margin-left: -100%;

			@include transition(2s all cubic-bezier(0.215, 0.61, 0.355, 1));
		}

		.timeline-evt.active {
			max-width: 100%;
			margin-left: 0;
		}

		.time-evt-description {
			display: none;
			position: fixed;
			left: 50%;
			top: 50%;
			width: 200px;
			z-index: 99;
		}

		.hover {
			.time-evt-description {
				display: block;
			}
		}
	} */

}

footer {
	padding: 2em 0;
}