.og-grid * {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.og-grid {
	list-style: none;
	padding: 1em 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: .5em .25em 0 .25em;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a,
.og-grid li >a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
	width: 250px;
}

.og-grid li>a img {
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(0,0,0,.35);
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #EFEFEF;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #EFEFEF;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
			transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-family: 'Kameron', Georgia, serif;
	@include font-size(3);
	line-height: 1;
	padding-bottom: .5em;
}

.og-details p {
	line-height: 1.3;
}

.og-details a.btn_go {
	margin: 10px 0 0;
	outline: none;
	padding: .25em .5em;
	font-size: 1em;
	font-style: normal;
	display: inline-block;
	border: 1px solid #1A7AC9;
	border-right: 0;
	border-radius: 2px;
	color: #FFF;
	box-shadow: 0px 0px 4px #BBB;
	background: rgb(59,139,186); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(59,139,186,1) 0%, rgba(26,122,201,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,139,186,1)), color-stop(100%,rgba(26,122,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(59,139,186,1) 0%,rgba(26,122,201,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(59,139,186,1) 0%,rgba(26,122,201,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(59,139,186,1) 0%,rgba(26,122,201,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(59,139,186,1) 0%,rgba(26,122,201,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b8bba', endColorstr='#1a7ac9',GradientType=0 ); /* IE6-9 */	
}

.og-details a::before {
}

.og-details a:hover {
	text-decoration: none;
	border-color: rgb(26,122,201);
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #DDD;
	box-shadow: 0 0 1px #CCC, 15px 30px 1px #CCC, -15px 30px 1px #CCC;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
			animation: loader 0.5s infinite ease-in-out both;
}

@keyframes loader {
	0% { background: #DDD; }
	33% { background: #CCC; box-shadow: 0 0 1px #CCC, 15px 30px 1px #CCC, -15px 30px 1px #DDD;}
	66% { background: #CCC; box-shadow: 0 0 1px #CCC, 15px 30px 1px #DDD, -15px 30px 1px #CCC;}
}


@media all and (max-width:830px) {

	.og-expander h3 { font-size: 2.28em; }
	.og-expander p { font-size: 1em; }
	.og-expander a { font-size: .9em; }
	
}

@media all and (max-width:650px) {

	.og-expander-inner {padding-right: 60px;}
	.og-fullimg {display: inline-block; float: none; width: 100%; height: auto;}
	.og-details {float: none; width: 100%;}
	.og-details h3 {padding-top: 10px;}
	.og-close {margin-top: 50px;}

}